* {
  font-family: 'Bungee Inline', cursive;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  width: auto;
  background-color: #f0788c;
}

.game-type-section {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-type-section h1 {
  display: inline;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

.game-type-section h2 {
  font-size: 40px;
}

.game-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f14562;
  border-radius: 15px;
  border: none;
  width: 35%;
  height: auto;
  margin: 30px;
  transition-duration: 300ms;
}

.game-type:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 10px black;
}

.game-area {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-area-header {
  text-align: center;
  margin-bottom: 75px;
}

.game-area-header h1 {
  margin-bottom: 0;
  font-size: 60px;
}

.player-scoreboard {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f14562;
}

.computer-scoreboard {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f14562;
}

.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
  width: auto;
  font-size: 30px;
  margin-bottom: 15px;
}

.icon {
  height: 200px;
  width: auto;
  margin-top: 20px;
}

.score-display h1 {
  transform: scale(2);
}

.change-game-button {
  width: 50%;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  transition-duration: 300ms;
  animation: fadeIn 2s;
}

.change-game-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px black;
}

.fighter-section {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 width: 100%;
 height: auto;
}

.all-fighters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.fighter {
  height: 225px;
  width: auto;
  transition-duration: 300ms ;
}

.fighter:hover {
  transform: scale(1.1);
}

.show-choices-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
 }

 .choice {
  height: 200px;
  width: auto;
}

.winner {
  animation: sizeUp 3s;
}

.loser {
  animation: fadeOut 3s;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%
  }
  to {
    opacity: 50%;
  }
}

@keyframes sizeUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}