* {
  font-family: 'Bungee Inline', cursive;
  color: black;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  width: auto;
  background-color: #f0788c;
  background-color: #f9627b;
  background-image: url('./assets/lightsaber.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.start-screen {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-screen h1 {
  font-size: 60px;
}

.start-screen h2 {
  font-size: 40px;
}

.enter-name {
  font-size: 40px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.icon-choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.icon-choice {
  height: 125px;
  margin: 10px;
  transition-duration: 300ms;
}

.icon-choice:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.name-warning {
  color: red;
  font-size: 25px;
}

.lets-play {
  width: 20%;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  transition-duration: 300ms;
  margin-top: 25px;
  background-color: #f14562;
}

.lets-play:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 10px black;
}

.game-type-section {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-type-section h1 {
  display: inline;
  text-align: center;
  font-size: 50px;
}

.game-type-section h2 {
  font-size: 30px;
}

.game-types {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.game-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f14562;
  border-radius: 15px;
  width: 35%;
  height: auto;
  margin: 30px;
  transition-duration: 300ms;
}

.game-type:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 10px black;
}

.game-area {
  display: flex;
  flex-direction: column;
}

.game-area-header {
  text-align: center;
  margin-bottom: 50px;
}

.game-area-header h1 {
  margin-bottom: 0;
  font-size: 60px;
}

.player-scoreboard {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(251,6,6);
  background: linear-gradient(45deg, rgba(251,6,6,1) 10%, rgba(32,63,246,1) 95%);
}

.computer-scoreboard {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(251,6,6);
  background: linear-gradient(135deg, rgba(251,6,6,1) 10%, rgba(32,63,246,1) 95%);
}

.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.icon {
  height: 200px;
  width: auto;
  margin-top: 20px;
}

.change-game-button {
  width: 50%;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  transition-duration: 300ms;
  animation: fadeIn 2s;
}

.change-game-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px black;
}

.fighter-section {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

.all-fighters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px auto;
}

.fighter {
  height: 225px;
  transition-duration: 300ms ;
}

.fighter:hover {
  transform: scale(1.1);
}

.show-choices-section {
  display: flex;
  justify-content: space-evenly;
 }

 .choice {
  height: 200px;
  width: auto;
}

.winner {
  animation: sizeUp 2s;
}

.loser {
  animation: fadeOut 2s;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%
  }
  to {
    opacity: 50%;
  }
}

@keyframes sizeUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}